.CatName{
    text-transform: capitalize;
    line-height: 1.2;
    border: 1px solid gray;
    text-align: center;
    border-bottom: none;
    margin-right: 25px;
}
.CatName:hover{
    color: red;
    background-color: lightgray;
    cursor: pointer

}
.CatName:last-child{
    border-bottom: 1px solid gray;
}